.caja {
  width: 400px;
  padding: 40px;
  border-radius: 60px;
  margin: 20px;
  color: white;
}

/*.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  width: 1200px;
}*/

.cardContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 80px;
}


span{
  color: white;
  font-size: 2em;
}
