.caja {
  width: 400px;
  padding: 40px;
  border-radius: 60px;
  margin: 20px;
  color: white;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  width: 1200px;
}